<!-- <div class="container my-5"> -->
<!-- Footer -->
<footer
  class="text-center text-lg-start"
  style="
    background: rgba(255, 255, 255, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    padding: 40px 0;
    text-align: center;
  "
>
  <!-- Section: Social media -->
  <section class="d-flex justify-content-between p-4">
    <!-- Left -->
    <div class="me-5">
      <span class="text-black">Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="text-black me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="text-black me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="text-black me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="text-black me-4">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="text-black me-4">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="text-black me-4">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold text-black">Project_Localite</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" />
          <p class="text-black">
            is a modern web application built using the MERN stack (MongoDB,
            Express.js, Node.js) that empowers users to explore and share their
            travel experiences.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold text-black">Products Used</h6>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: #7c4dff; height: 2px"
          />
          <p>
            <a href="#!" class="text-black">Node.js</a>
          </p>
          <p>
            <a href="#!" class="text-black">Express.js</a>
          </p>
          <p>
            <a href="#!" class="text-black">MongoDB</a>
          </p>
          <p>
            <a href="#!" class="text-black">Bootstrap</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold text-black">Useful links</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" />
          <p>
            <a href="#!" class="text-black">Linkdin</a>
          </p>
          <p>
            <a href="#!" class="text-black">Github</a>
          </p>
          <p>
            <a href="#!" class="text-black">X</a>
          </p>
          <p>
            <a href="#!" class="text-black">Instagram</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold text-black">Contact</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" />
          <p class="text-black">
            <i class="fas fa-home mr-3"></i> Pune , Maharastra
          </p>
          <p class="text-black">
            <i class="fas fa-envelope mr-3"></i> ojasbhalerao9299@gmail.com
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
</footer>
<!-- Footer -->
<!-- </div> -->
<!-- End of .container -->
