<nav
  class="navbar navbar-expand-md bg-body-light py-3 mb-3 border-bottom sticky-top"
>
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="/listing">
      <img
        src="https://www.seekpng.com/png/full/957-9571167_airbnb-png.png"
        alt="Logo"
        width="40"
        height="44"
        class="d-inline-block align-text-top me-2"
      />
      <span class="fw-bold text-danger">Airbnb</span>
    </a>

    <!-- Hamburger icon for mobile view -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/listing"
            >All Expeditions</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listing">Explore</a>
        </li>
      </ul>

      <!-- Individual buttons for Sign In, Login, and Logout -->
      <div class="d-flex">
        <!-- <li class="nav-item btn">
          <a class="nav-link" href="/listing/new">Add New Listing</a>
        </li> -->
        <a href="/listing/new" class="btn nav-link mx-3">Add New Expeditions</a>
        <%if(!currUser){%>
        <a href="/signup" class="btn nav-link mx-3">Sign In</a>
        <a href="/login" class="btn nav-link mx-3">Login</a>
        <%} if(currUser){%>
        <a href="/logout" class="btn py-2-warning px-3 nav-link">Logout</a>
        <%}%>
      </div>
    </div>
  </div>
</nav>
