<% layout("/layouts/boilerplate")%>
<div class="alert alert-danger d-flex align-items-center" role="alert">
  <i class="bi bi-exclamation-triangle-fill me-2" style="font-size: 1.5rem"></i>
  <div><%=message%></div>
</div>
