.main-container {
  max-width: 1260px;
}
.card-title {
  font-weight: 600;
  font-size: 1.25rem;
}
.card-text {
  font-size: 1rem;
}
.card-text.price {
  font-weight: 500;
  font-size: 1.1rem;
}
.card-text.location {
  font-size: 0.9rem;
}
body {
  font-family: "Nunito", sans-serif;
  background-color: #f7f7f7;
}
/* Remove border from cards */
.card.no-border {
  border: none;
}

.card {
  max-width: 700px;
  margin: 26px auto;
  border: none;
}
.card-img {
  aspect-ratio: 3/2;
  object-fit: cover;
  height: 340px;
  width: 400px;
  border-radius: 15px !important;
}
.card-body {
  padding: 20px;
}
.card-title {
  font-size: 1.75rem;
  font-weight: 700;
  color: #484848;
  margin-bottom: 15px;
}
.card-text {
  font-size: 1rem;
  font-weight: 500;
  color: #484848;
  margin-bottom: 10px;
}

body {
  font-family: "Montserrat", sans-serif !important;
  color: #484848 !important;
  margin: 0 !important;
}

.filters {
  font-size: 13px !important;
  display: flex !important;
  /* justify-content: space-around !important; */
  align-items: center !important;
  height: 75px !important; /* Fixed height of 75px */
  background-color: #ffffff !important; /* White background */
  border-bottom: 1px solid #e0e0e0 !important;
  padding-left: 100px;
}

.filter {
  margin: 0px 18px;
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 10px 5px !important; /* Adjust padding here */
  cursor: pointer !important;
  height: 100% !important; /* Fill height of parent container */
}

.filter i {
  font-size: 24px !important; /* Reduced size of icons */
  margin-bottom: 5px !important;
}

.filter p {
  margin: 0 !important;
  font-weight: 500 !important;
}

@media (max-width: 48rem) {
  /* Hide desktop-only filters on mobile screens */
  .desktop-only {
    display: none !important;
  }
}
